<apex:component >
    <apex:attribute id="AttachmentsList" name="AttachmentsList" type="NoteAndAttachment[]" description="List of Attachments"></apex:attribute>
    <apex:form >
        <apex:pageBlock title="Attachments">
             <apex:pageBlockButtons location="top">
                 <apex:commandButton value="Attach File" action="{!URLFOR('/p/attach/NoteAttach?pid=' + $CurrentPage.parameters.Id + '&retURL=%2F' + $CurrentPage.parameters.Id)}"/>
             </apex:pageBlockButtons>
            <apex:variable value="{!0}" var="cnt"/>
            <apex:repeat value="{!AttachmentsList}" var="item"><apex:variable value="{!cnt+1}" var="cnt"/></apex:repeat>
            <apex:pageBlockTable value="{!AttachmentsList}" var="item" rendered="{!cnt > 0}">
            <apex:column headerValue="Action" styleClass="actionColumn">
                <apex:outputLink styleClass="actionLink" value="{!URLFOR('/' + item.id + '/e?retURL=' + $CurrentPage.parameters.Id)}">Edit</apex:outputLink>
                  <apex:outputPanel > &nbsp;|&nbsp; </apex:outputPanel>  
                <!--  <apex:outputLink styleClass="actionLink" value="{!URLFOR( $Action.Attachment.Delete , item.id)}">Del</apex:outputLink>/> --> <!-- call premiere support and ask why this isn't working....  -->
                  <apex:commandLink styleClass="actionLink" action="{!URLFOR('/setup/own/deleteredirect.jsp?id=' + $CurrentPage.parameters.Id + '&sfdc.override=1&delID=' + item.id + '&retURL=' + $CurrentPage.parameters.Id + '&_CONFIRMATIONTOKEN=55454342v2sfdf45') }" onclick="return confirm('Are you Sure?');" value="Del"/>  
                 <!--<apex:commandLink styleClass="actionLink" action="" onclick="return confirm('Are you Sure?');">Del</apex:commandlink>                 -->
                  <!-- '/setup/own/deleteredirect.jsp?id=' + $CurrentPage.parameters.Id + '&sfdc.override=1&delID=' + item.id + '&retURL=' + $CurrentPage.parameters.Id + '&_CONFIRMATIONTOKEN=' + ApexPages.currentPage().getParameters().get('_CONFIRMATIONTOKEN')  --> 
             </apex:column>
            <apex:column headerValue="Type">{!if(item.isNote, 'Note', 'Attachment')}</apex:column>
            <apex:column headerValue="Name">
                <apex:outputLink value="{!URLFOR('/' + item.id + '?retURL=' + $CurrentPage.parameters.Id)}">
                {!item.Title}</apex:outputLink>
            </apex:column>      
            <apex:column headerValue="Last Modified" value="{!item.LastModifiedDate}"/>
            <apex:column headerValue="Last Modified By" value="{!item.lastModifiedBy.Name}"/>
            </apex:pageBlockTable>
            <apex:outputText value="No records to display" rendered="{!cnt = 0}"/>
        </apex:pageBlock>
    </apex:form> 

</apex:component>


<!-- http://salesforce.stackexchange.com/questions/24797/how-to-specify-an-action-for-an-urlfor-in-apex/
     http://salesforce.stackexchange.com/questions/13212/token-for-url-to-delete-a-record  -->