<apex:page sidebar="true" standardStylesheets="true">
    <apex:includeScript value="/lightning/lightning.out.js" />
    <div id="timeRecordManagerDiv"></div>
    <script>
        $Lightning.use("c:TimeRecordManagerAppVF", function() {
            $Lightning.createComponent(
                "c:TimeRecordManager",
                {},
                "timeRecordManagerDiv"
            );
        });
    </script>
</apex:page>