<apex:page standardController="Engagement__c" extensions="SL_BuyerAccountPDFReport" cache="false" readonly="true" standardStyleSheets="false" applyHtmlTag="false" showHeader="false" renderAs="pdf">
	<head>
		<apex:stylesheet value="{!URLFOR($Resource.SL_BuyerAccountPDFReport, '/css/SL_BuyerAccountListPDFReport.css')}"/> 
    </head> 
    <div class="footer">
  		<table width="100%">
  			<tr>
  				<td style="width:50%; text-align: left;">
  					<strong><div style="color:#930000;font-size: 13px;">Confidential - Property of Houlihan Lokey</div></strong>
  					<div style="font-size: 10px; font-style: italic;"> Potential Investors List</div>
  				</td>
  				<td style="width:50%; text-align:right; font-size: 10px; font-style: italic;">
  					<div>Page <span class="pagenumber"/> of <span class="pagecount"/></div>
  				</td>
  			</tr>
  		</table>
    </div>
    <table width="100%" cellpadding="2" cellspacing="0" class="tableStyle"> 
	    <thead> 
	        <tr style="padding-bottom: 20px;">
	        	<td  style="text-align:left;border:none;width:20%;" >
	            	<apex:image value="{!URLFOR($Resource.SL_BuyerAccountPDFReport,'/images/logo.jpg')}" style="width:250px; height:35px;"/>
	            </td>
	        	<td style="text-align:center;border-bottom:none;width:60%;" >
	        		<div class="Table" style="width:100%;">
		        		<div class="Row" style="width:100%;">
		        			<div class="Cell" style="width:50%; text-align: right;">
		        				<strong><span style="color:#930000;font-size: 24px; font-weight: bold;">Potential Investors List</span></strong>
		        			</div>
		        			<div class="Cell" style="width:50%; text-align: left;">
		        				<span style="font-size: 24px; font-weight: bold;">&nbsp;-&nbsp;{!engagement.Name}</span><br/>
				  			</div>
				  		</div>
			  		</div>
	            </td>
	            <td style="text-align:right;border-bottom:none;width:20%;" valign="top">
	            	<span style="font-size: 12px;">{!CurrentDateTime}</span>
	            </td>
	        </tr> 
	    </thead>
	    <tbody>
	    	<tr>
	    		<td colspan="3">
	    			<table width="100%" cellpadding="2" cellspacing="0" class="tableStyle maintable">
	    				<thead>
	    					<tr>
			                	<th style="font-size: 13px; text-align: left;width:10%;">Potential Engagement Counterparty</th>
			                	<apex:repeat value="{!ColumnWrappers}" var="column"> 
			               			<th style="display: {!If(AND(column.strAPIName != 'Tier__c', column.strAPIName != 'hlcontacts'), '','none')}; font-size: 12px; text-align:{!If(column.strFieldType != 'DATE' ,'center','left')};" width="90/(ColumnWrappers.size)%"><apex:outputLabel value="{!column.strLabel}" escape="false"/></th>
			               			<th style="font-size: 12px; display: {!If(AND(column.strAPIName == 'hlcontacts', strHLCon == 'true'), '','none')}; text-align:left;" width="90/(ColumnWrappers.size-1)+4%"><apex:outputLabel value="{!column.strLabel}" escape="false"/></th>
			               			<th style="font-size: 12px; display: {!If(AND(column.strAPIName == 'Tier__c', strDlRank == 'true'), '','none')}; text-align:center;" width="90/(ColumnWrappers.size)%"><apex:outputLabel value="{!column.strLabel}" escape="false"/></th>
			               		</apex:repeat>
			                </tr>
	    				</thead>
	    				<tbody>
	    					<apex:repeat value="{!BuyerAccountWrappers}" var="objBAW"> 
	    					<tr>
	    						<td style="font-size: 10px; text-align: left; color:#333399;width:10%" valign="top">
	    							<apex:outputText value="{!objBAW.ECounterparty.Company__r.Name}" escape="false"/>
	    						</td>
	    						<apex:repeat value="{!ColumnWrappers}" var="column"> 
	    							<td style="display: {!If(AND(column.strAPIName != 'Tier__c', column.strAPIName != 'hlcontacts'), '','none')}; font-size: 10px; text-align:{!If(column.strFieldType != 'DATE' && column.strAPIName != 'hlcontacts','center','left')};" width="{!if(column.strAPIName != 'hlcontacts', 90/(ColumnWrappers.size-1), 90/(ColumnWrappers.size-1)+4)}%" valign="top">
	    								<apex:outputText value="{0,date,MM'/'dd'/'yy}" rendered="{!IF(column.strFieldType == 'DATE' && column.strAPIName != 'hlcontacts' && column.strAPIName != 'NA', true, false)}">
                                        	<apex:param value="{!objBAW.ECounterparty[column.strAPIName]}"/>
                                   		</apex:outputText>
	    								<apex:outputText style="color:#333399;" value="{!objBAW.ECounterparty[column.strAPIName]}" rendered="{!IF(column.strFieldType != 'DATE' && column.strAPIName != 'hlcontacts' && column.strAPIName != 'NA', true, false)}"/>
<!-- 	    								<apex:outputText value="{!objBAW.HLContact}" escape="false" rendered="{!IF(column.strFieldType != 'DATE' && column.strAPIName == 'hlcontacts' && column.strAPIName != 'NA', true, false)}"/> -->
	    							</td>
	    							<td style="font-size: 10px; display: {!If(AND(column.strAPIName == 'hlcontacts', strHLCon == 'true'), '','none')}; text-align:left" width="90/(ColumnWrappers.size-1)+4%" valign="top">
	    								<apex:outputText value="{!objBAW.HLContact}" escape="false" rendered="{!IF(column.strFieldType != 'DATE' && column.strAPIName == 'hlcontacts' && column.strAPIName != 'NA', true, false)}"/>
	    							</td>
	    							<td style="font-size: 10px; display: {!If(AND(column.strAPIName == 'Tier__c', strDlRank == 'true'), '','none')}; text-align:center" width="90/(ColumnWrappers.size-1)" valign="top">
	    								<apex:outputText value="{!objBAW.ECounterparty[column.strAPIName]}" rendered="{!IF(column.strAPIName != 'hlcontacts' && column.strAPIName != 'NA', true, false)}"/>
	    							</td>
	    						</apex:repeat>
	    					</tr>
	    					</apex:repeat>
	    				</tbody> 
	    			</table>
	    		</td>
	    	</tr>
	    </tbody>
    </table>
</apex:page>