<apex:page doctype="html-5.0" applyBodyTag="false" showHeader="false" standardStylesheets="false" standardController="Opportunity__c">
    <c:SL_MeetingNoteMobileCard recordId="{!Opportunity__c.Id}" title="Open Activities"/>
</apex:page>